/* src/index.css */
@import "tailwindcss";
@import "flowbite";

@theme {
  /* Brand colors */
  --color-primary: #0b1f4b; /* deep academic navy */
  --color-secondary: #b23a3a; /* softened maroon */
  --color-accent: #c9a227; /* university gold */

  /* Neutrals */
  --color-bg: #f9fafb; /* page background */
  --color-surface: #ffffff; /* cards */
  --color-text: #111827; /* main text */
  --color-muted: #6b7280; /* secondary text */
  --color-border: #e5e7eb; /* borders */

  /* Overlay (for sliders/hero) */
  --color-overlay: rgba(0, 0, 0, 0.4);

  /* Fonts */
  --font-sans: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
}
.dark {
  --color-bg: #0b1220;
  --color-surface: #111827;
  --color-text: #e5e7eb;
  --color-muted: #9ca3af;
  --color-border: #1f2937;
}

/* admin settings preferences */
:root[data-density="compact"] table td,
:root[data-density="compact"] table th {
  padding: 6px 8px;
  font-size: 0.85rem;
}
.input {
  @apply w-full border border-border rounded-lg px-3 py-2 bg-surface text-text placeholder-muted focus:outline-none focus:ring-2 focus:ring-accent/40 focus:border-accent transition;
}

/* this animation is for HighlightNews.jsx section */
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll-up 12s linear infinite;
}
