/* src/index.css */
@import "tailwindcss";
@import "flowbite";

@theme {
  /* Brand colors */
  --color-primary: #0b1f4b; /* deep academic navy */
  --color-secondary: #b23a3a; /* softened maroon */
  --color-accent: #c9a227; /* university gold */

  /* Neutrals */
  --color-bg: #f9fafb; /* soft off-white */
  --color-surface: #ffffff; /* cards */
  --color-text: #111827; /* main text */
  --color-muted: #6b7280; /* secondary text */
  --color-border: #e5e7eb; /* borders */

  /* Fonts */
  --font-sans: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
}
